{% extends "base.html" %}
{% block content %}
    <div class="container mt-5" style="background: whitesmoke; height: 30rem;">
        <h1 class="text-center fw-bold">Welcome to Mastereg</h1>
        <div class="container mt-5 text-center">
                <a href="{{ url_for('admin.login')}}" class="btn btn-outline-success" style="width: 14rem; height: 10rem;">
                    <p class="text-center fw-bold fs-3 mt-5">Admin Login</p>
                </a><br><br>
                <a href="{{ url_for('info.facilities')}}" class="btn btn-outline-success" style="width: 14rem; height: 10rem;">
                    <p class="text-center fw-bold fs-3 mt-5">Info Prod</p>
                </a>
        </div>
    </div>
{% endblock %}