{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="{{ url_for('student.all_students')}}" class="card bg-primary text-center text-white" 
            style="max-width: 13rem; height: 2rem; text-decoration: none;">Students List</a>  
        </div>
        <div class="col-6">
            <a href="{{ url_for('med.add_record', student_id=student.id)}}" class="card bg-primary text-center text-white" 
            style="max-width: 13rem; height: 2rem; text-decoration: none; ">Add {{ student.first_name }}'s medical record</a>
        </div>
    </div>
    <div class="card mt-4">
        <h2 class="text-center">Medical Records</h2><hr>
        <div class="card-body">
            <h3 class="card-title">Name: {{ student.first_name + " " + student.last_name }}</h3>
            <div class="row">
                <p class="col-3">Admission: {{ student.admission }}</p>
                <p class="col-3">Age: {{ (year-student.birthdate).days//365 }} years</p>
                <p class="col-3">Zipcode: {{ student.zipcode }}</p>
                <p class="col-3">County: {{ student.county }}</p>
                <p class="col-3">Ward: {{ student.county }}</p>
            </div>
        </div>
        <div class="card-body">
            <h3 class="card-title  text-center">Medical History</h3>
            {% if not medrec %}
                <p class="bg-primary text-white text-center fw-bold fs-3 p-3">There are no Medical history for the student!</p>
            {% else%}
             <div class="row">
                 <p class="col-4">Height {{ medrec.height}}</p>
                 <p class="col-4">Weight: {{ medrec.weight }}</p>
                 <p class="col-3">BMI: {{ medrec.weight/(medrec.height**2)}}</p>
                 {% if medrec.disabled == True %}
                    <p class="col-4">Disability: Disabled</p>
                 {% else %}
                    <p class="col-4">Disability: No Disability</p>
                 {% endif %}
             </div>
            <div class="row">
                 <p class="col-8">Diagnosis: {{ medrec.diagnosis }}</p>
                 <p class="col-4">Underlying Condition: {{ medrec.underlying }}</p>
            </div>
            <div class="row">
                 <p class="col-3">Drug Prescribed: {{ medrec.drug }} </p>
                 <p class="col-3">Outcome: {{ medrec.outcome }}</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}